In [1]:
import pandas as pd
df=pd.read_csv("store_data.csv")
print(df.head())

   ORDER_ID                    Product  Category  Quantity  Price  \
0      1001                 TCL 10 Pro       TCL         2   3241
1      1002  Micromax Canvas Play Q355  Micromax         4   7136
2      1003                   BenQ E55      BenQ         3   9357
3      1004                  Nokia N96     Nokia         3  11521
4      1005              Lava Iris 350      Lava         1  11524

   Total_amount        Date
0             0    1/4/2025
1             0   7/27/2024
2             0   3/12/2024
3             0  10/15/2024
4             0   5/22/2024

In [2]:
df['Total_amount'] = df['Quantity'] * df['Price']
print(df.head())

   ORDER_ID                    Product  Category  Quantity  Price  \
0      1001                 TCL 10 Pro       TCL         2   3241
1      1002  Micromax Canvas Play Q355  Micromax         4   7136
2      1003                   BenQ E55      BenQ         3   9357
3      1004                  Nokia N96     Nokia         3  11521
4      1005              Lava Iris 350      Lava         1  11524

   Total_amount        Date
0          6482    1/4/2025
1         28544   7/27/2024
2         28071   3/12/2024
3         34563  10/15/2024
4         11524   5/22/2024

In [4]:
orders_above = df[df['Total_amount'] > 4000]
print(orders_above)

    ORDER_ID                    Product  Category  Quantity  Price  \
0       1001                 TCL 10 Pro       TCL         2   3241
1       1002  Micromax Canvas Play Q355  Micromax         4   7136
2       1003                   BenQ E55      BenQ         3   9357
3       1004                  Nokia N96     Nokia         3  11521
4       1005              Lava Iris 350      Lava         1  11524
5       1006       Xiaomi Redmi Note 7S    Xiaomi         1   4431
6       1007              Sony Xperia E      Sony         5   7909
7       1008                  LG X Skin        LG         5  11339
8       1009                Nokia C2-02     Nokia         5   5483
9       1010         Sony Ericsson Z780      Sony         2  10585
10      1011        Apple iPhone 12 Pro     Apple         2   7305
11      1012                  HTC One X       HTC         2   9942
12      1013               ZTE Nova 3.5       ZTE         3   9075
13      1014       Nokia 7310 Supernova     Nokia         3   2867
14      1015     NIU Niutek 3G 4.0 N309       NIU         4   8469
15      1016         Sony Xperia acro S      Sony         2   5558
16      1017         Sony Ericsson Z530      Sony         2   9611
17      1018                  alcatel 1   alcatel         4  10582
18      1019           Huawei Y7 (2018)    Huawei         4   9855
19      1020             Allview P5 Pro   Allview         4   9564

    Total_amount        Date
0           6482    1/4/2025
1          28544   7/27/2024
2          28071   3/12/2024
3          34563  10/15/2024
4          11524   5/22/2024
5           4431   9/19/2024
6          39545   6/18/2024
7          56695    8/4/2024
8          27415    3/8/2024
9          21170   3/18/2024
10         14610   5/25/2024
11         19884  10/28/2024
12         27225  10/24/2024
13          8601   10/7/2024
14         33876    6/2/2024
15         11116    6/9/2024
16         19222    8/5/2024
17         42328    3/9/2024
18         39420    5/9/2024
19         38256   11/3/2024

In [11]:
store=pd.read_csv("store_data.csv")
#print(store)
most_sold_products=store.groupby('Product')['Quantity'].sum().idxmax()
print(most_sold_products)

LG X Skin

In [15]:
df1=pd.DataFrame({
    "id":[1,2,3,4,5],
    "name":["p1","p2","p1", "p2","p3"],
    "quantity":[1,2,2,2,3],
    "price":[10,20,10,20,30]
})
print(df1.groupby('name')['quantity'].sum().idxmax())

p2